body {
    margin: 0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background-color: #00337C;
}
html {
    scroll-behavior: smooth;
  }
  a:link, a:visited {
    background-color: transparent;
    color: rgb(61, 158, 236);
    padding: 5px 20px;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;   
  }
  
  a:hover, a:active {
    background-color: #04234f;
    color: white;
  }
h1, p, table, label,h3,h2 {
    color: rgb(254, 254, 254);
}
h2, h3{
    font-weight: normal
}

p{
    font-size: 0.7rem;
}

.Home-box {
    background: url(Bg.jpg);
    background-size: cover;
    font-family: 'Sacramento', cursive;
    height: 100vh;
    margin: 0px; 
}
.top-box{
padding-top: 18%;
}
#sticker {
    width: 8%;
    height: 15%;
} 

.nav {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: rgb(30, 32, 79);
    opacity: 60%;
    backdrop-filter: blur(20px);
}
.nav-head{
    display: inline-block;
    padding-top: 1%;
    opacity: 100%;
}    
.bio-img{
    width: 40%;
    float: left;
}
.profile{
    width: 60%;
    margin: 80px auto 80px auto;
    text-align: left;
    line-height: 1.5;
}
.skill-row1{
width: 50%;
margin: 80px auto 80px auto;
text-align: right;
line-height: 2;
}
.skill-row2{
    width: 50%;
    margin: 80px auto 80px auto;
    text-align: left;
    line-height: 2;
    }
.skillimg1{
    float: left;
    width: 25%;
    margin-right: 10%;
    border-radius: 100%;
}
.skillimg2{
    float: right;
    width: 25%;
    margin-left: 10%;
}
hr {
    border-style:none;
    border-top: dotted;
    border-color: #8EA7E9;
    border-width: 5px;
    width: 4%;
}
.contact-me{
    width: 60%;
    margin: 80px auto 80px auto;
    line-height: 1.5;
}
.bottom-container{
    background-color: rgb(30, 32, 79);
    opacity: 60%;
    margin: 0%;
    padding: 0%;
    height: 10%;
    width: 100%;
}
.btn {
    background: #BFDCE5;
    background-image: -webkit-linear-gradient(top, #BFDCE5, #9edaff);
    background-image: -moz-linear-gradient(top, #BFDCE5, #9edaff);
    background-image: -ms-linear-gradient(top, #BFDCE5, #9edaff);
    background-image: -o-linear-gradient(top, #BFDCE5, #9edaff);
    background-image: linear-gradient(to bottom, #BFDCE5, #9edaff);
    -webkit-border-radius: 35;
    -moz-border-radius: 35;
    border-radius: 35px;
    font-family: Georgia;
    color: #074bab;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FFF4D2;
    background-image: -webkit-linear-gradient(top, #FFF4D2, #FEC868);
    background-image: -moz-linear-gradient(top, #FFF4D2, #FEC868);
    background-image: -ms-linear-gradient(top, #FFF4D2, #FEC868);
    background-image: -o-linear-gradient(top, #FFF4D2, #FEC868);
    background-image: linear-gradient(to bottom, #FFF4D2, #FEC868);
    text-decoration: none;
  }
